body{
  overflow-x: hidden;
}
/* Hero */
.hero{
  width: 100vw;
  padding-bottom: 5rem;
  background: rgb(58,142,143);
  background: linear-gradient(155deg, rgba(58,142,143,1) 0%, rgba(19,84,126,1) 50%, rgba(109,59,147,1) 100%);
}
.hero__heading{
  text-shadow: 5px 4px 3px rgba(0,0,0,0.53);
}
.hero__text{
  font-size: 30px;
}
.hero__logo{
  max-width: 100px;
}
.hero__footer{
  margin-top:50px;
}
.hero__links > img{
  margin-left: 20px;
  max-width: 50px;
}
.header__icon img{
  max-width: 50px;
  margin-left: 20px;
}
/* proyects */
.proyects{
  background-image: url(../src/images/proyects-background.png);
  width: 100vw;
  padding: 5rem;
}

.proyects__header{
  margin-bottom: 5rem;
  color: #fff;
  text-shadow: 5px 4px 3px rgba(72, 72, 72, 0.53);
}

/* About Me */

.about__image{
  width: 70%;
  max-width: 100px;
  margin-bottom: 40px;
}

.about__text{
  font-size: 30px;
}

.about__image-container{
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 992px){
  .about__image{
      max-width: 500px;
  }
}
/* Contact */

.contact__image{
  width:4em; 
  height:4em;
}

/* card */
.card__proyect{
  display: inline-block;
  margin: 1rem;
  max-width: 20rem;
  border:0;
}

.card__footer {
  display: flex;
  justify-content: center;
}


.card__footer .btn {
  margin: 10px;
}

/* Footer */
.footer__logo{
  width: 50px;
  height: 50px;
}